body {
	font-family: calibri;
	font-size: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pb20 {
  padding-bottom: 20px;
}

.mr5 {
  margin-right: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt20 {
  margin-top: 20px;
}

.small-text {
  font-size: 0.5em;
}

.btn-captura-primary {
  background-color: #264783;
  border-color: #264783;
  color: #fff;
}

.btn-captura-primary:hover {
  background-color: #0b3583;
  border-color: #0b3583;
  color: #fff;
}

.arrow {
  border: solid black;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 4px;
}

.arrow.right {
  transform: rotate(-45deg);
}

.arrow.down {
  transform: rotate(45deg);
  margin-left: 5px;
}


#controls input[type="file"] {
  display: none;
}

input[type="file"] {
  display: none;
}

.preview {
  overflow-x: auto;
}

.preview td {
  padding: 3px 7px;
  font-family: 'Courier New', Courier, monospace;
}

.preview table, .preview td {
  border: 1px solid #333 ;
  border-collapse: collapse;
}

.preview tr:nth-of-type(even) {
  background-color: #bed3f7;
}

.preview tr:first-of-type {
  color: #fff;
  background-color: #2e477f;
}